@media screen and (max-width: 1199px) and (min-width:999px) {
	body {
		background: red;
		/* width: min-content; */
	}

	.cantainer_1-img-text img {
		/* width: 180px;
		height: 180px; */
	}

	#section_5_flex-img .img-grid-flex .flex_5section_img {
		gap: 100px;
	}

	#section_5_flex-img .color-flex {
		height: 75vh;
		overflow: hidden;
	}

	.img-grid-flex .flex_5section_img {
		gap: 100px;
	}

	.img-grid-flex {
		padding: 50px;

		.fast-grid-img img {
			width: 391px;
			height: 391px;
		}

		.secend-grid-img img {
			width: 331px;
			height: 331px;
		}

		.thrid-grid-img img {
			width: 452px;
			height: 452px;
		}

		.forth-grid-img img {
			width: 331px;
			height: 331px;
			margin-right: 71px;
		}
	}

	#section_6 .six_flex .section_6_three_flex .section_6_two_flex .text h5 {
		font-size: 16px;
		width: 30vw;
	}

	#SECTION_7 .number_50,
	.number_36,
	.number_20,
	.number_13 {
		width: 180px;
	}

	.slide > img {
		/* width: 90%; */
		margin: 20px;
		object-fit: cover;
	}
}

@media screen and (max-width: 991px) {
	#_2cantener ._2cantener_page-preview {
		height: fit-content;
		display: block;
		align-items: center;
		padding: 100px;
		margin: 0;
	}

	.cantainer_1-img-text {
		display: grid;
		grid-template-columns: repeat(2, calc(48% - 78px));
	}

	#_2cantener .page-preview-heading {
		position: relative;
		margin-top: 193px;
		padding: 0;
		width: 72%;
	}

	#section_4-epic-desing {
		padding: 0;
	}

	#_2cantener ._2cantener_page-preview .page-preview-headering-side-img img {
		width: 550px;
		transform: translate(10px, 143px);
	}

	#section_5_flex-img .img-grid-flex .flex_5section_img {
		gap: 50px;
	}

	.img-grid-flex {
		padding: 0px;

		.fast-grid-img img {
			width: 291px;
			height: 291px;
		}

		.secend-grid-img img {
			width: 291px;
			height: 291px;
		}

		.thrid-grid-img img {
			width: 452px;
			height: 452px;
		}

		.forth-grid-img img {
			width: 331px;
			height: 331px;
			margin-right: 71px;
		}
	}

	#section_5_flex-img .color-flex {
		/* height: 100vw; */
		height: 75vh;
		overflow: hidden;
	}

	#section_6 .six_flex .section_6_three_flex .section_6_two_flex .text h5 {
		font-size: 12px;
		font-weight: 700;
		width: 20vw;
	}

	#section_6 .textes {
		font-size: 8vw;
	}

	#SECTION_7 > .number {
		display: grid;
		grid-template-columns: repeat(2, calc(48% - 78px));

		h5 {
			font-size: 18px;
		}
	}

	.slide > img {
		width: 80vw;
	}
}

@media screen and (max-width: 791px) {
	body {
		width: fit-content;
	}

	#section_header {
		width: 100%;
		padding: 20px;

		h2 {
			font-size: 35px;
		}

		p {
			font-size: 25px;
		}

		.button {
			width: 70%;
			height: 10%;
			font-size: 50px;
		}

		h5 {
			font-size: 25px;
		}
	}

	#_2cantener ._2cantener_page-preview {
		/* width: max-content; */
		/* width: 810px; */
	}

	.page-preview-yellow-carcal {
		margin: 0;
	}

	#_2cantener ._2cantener_page-preview .page-preview-headering-side-img img {
		transform: translate(-34vw, 22vw);
	}

	#section_3cantener {

		/* width: 810px; */
		.cantainer_1-img-text .img_txt {
			width: 100vw;
			height: 50vh;

			p {
				font-size: 30px;
				font-weight: 700;
			}

			a {
				font-size: 30px;
				font-weight: 700;
			}
		}

		.cantainer_1-img-text img {
			padding: 10px;
			width: 90vw;
		}
	}

	.cantainer_1-img-text {
		display: block;

		img {
			width: 50%;
			height: 70%;
			margin: auto 40px;
		}
	}

	#_2cantener ._2cantener_page-preview .page-preview-heading {
		h1 {
			font-size: 8vw;
		}

		p {
			/* padding: 0; */
			font-size: 4vw;
		}

		.black_bg-button {
			width: 100%;
			height: 100px;
			font-size: 30px;
		}
	}

	#section_3cantener h1 {
		font-size: 30px;
	}

	#section_3cantener ._3cantener_tap-img img {
		padding: 0;
	}

	#section_4-epic-desing {
		background-position: 86% 70%;
	}

	#section_4-epic-desing {
		padding: 20px;

		h1 {
			font-size: 60px;
		}

		p {
			font-size: 40px;
			font-weight: 500;
		}

		h5 {
			font-size: 30px;
			font-weight: 700;
		}

		.six_box .three_box {
			display: block;

			.text_icon {
				width: 88vw;
				height: 35vh;
				margin: 20px auto;
			}

			.text_icon svg {
				width: 10rem;
				height: 10rem;
			}
		}

		.six_box .three_box .text_icon {
			h2 {
				font-size: 3rem;
			}

			p {
				font-size: 3.9vw;
				width: fit-content;
				font-weight: 700;
			}
		}
	}

	#section_5_flex-img .color-flex {
		height: 75vh;
	}

	#section_5_flex-img .img-grid-flex .text-black {
		/* display: block; */
		width: 70vw;
		transform: translate(-24vw, -1vw);

		p {
			font-size: 1.5rem;
		}
	}

	#section_6 .six_flex .section_6_three_flex {
		display: block;
		width: 100vw;
		margin: auto;
	}

	#section_6 .six_flex .section_6_three_flex .section_6_two_flex {
		width: fit-content;
		display: block;
		text-align: center;

		.text h5 {
			width: 100%;
			font-size: 30px;
			padding-left: 20px;
			margin: 20px;
		}

		.text h3 {
			font-size: 3rem;
		}
	}

	#section_6 .six_flex .section_6_three_flex .section_6_two_flex img {
		width: 250px;
		height: 250px;
	}

	#section_6 .textes {
		font-size: 7rem;
	}

	#SECTION_7 > .number {
		display: block;
		text-align: -webkit-center;
	}

	#SECTION_7 .number_50,
	.number_36,
	.number_20,
	.number_13 {
		width: 70%;
		height: 30vh;
		margin: 20px;

		span {
			font-size: 5rem;
			font-weight: 700;
		}

		h5 {
			font-size: 30px;
		}
	}
}